.divisor {
  display: block;
  width: 100vw;
  height: 3px;
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0),rgb(58,95,205), rgba(0, 0, 0, 0));
}

.divisor__title {
  margin: 2px;
  padding: 3px;
  text-align: center;
  font-size: 1.5em;
}
