.project__container--delete {
  display: none;
  position: absolute;
  background: #d9534f;
  border-radius: 50%;
  -webkit-transition: all .5s cubic-bezier(.23,1,.32,1);
  transition: all .5s cubic-bezier(.23,1,.32,1);
  margin: 2px;
}

.project__container--delete svg {
  width: 17px;
  fill:#ffffff;
  pointer-events: none;
  vertical-align: top;
}
.project__container--delete:hover {
  background: #c9302c;
}

.project__icon-show {
  display: block;
  z-index: 1100;
}