<div id="forgot_password">
  <p class="form__message"> Esqueceu sua senha? Por favor entre com o seu email. <br>
    Você recebá um link para criar uma nova senha</p>

  <form action='/auth/forgot_password' method="POST" id="form-forgot">

    <div class="form__content">
      <label class="form__content--label"> Email</label>
      <input class="input input__color" type="email" name="email" required autocomplete="off">
    </div>

    <button class="button-login button-block">Reset Password</button> 
  </form>
  
  <p class="backToLogin"><a class="form__anchor">Voltar para log in</a></p>

</div>