<div id="login">   
  <h1 class="form__title"> Bem vindo novamente</h1>
  
  <form action="/auth/authenticate" method="post" id="form-login">
  
    <div class="form__content">
      <label class="form__content--label"> Email </label>
      <input class="input input__color" type="email" name="email" required autocomplete="off"/>
    </div>
  
  <div class="form__content">
    <label class="form__content--label"> Senha </label>
    <input class="input input__color" type="password" name="password" required autocomplete="off"/>
  </div>
  
  <p class="forgot"><a href="#" class="form__anchor">Esqueceu a senha?</a></p>
  
  <button class="button-login button-block"/>Log In</button> 
  </form>
</div>