<div id="<%= id %>" class="modal" role="dialog" aria-hidden="true">
  <div class="modal__dialog modal__content">
    <h1><%= title %></h1>
    <p> <%= content %> </p>

    <%- include( 'closePageIcon' ) %>
  </div>
</div>