<h1 class="form__title"> Vamos recuperar sua senha, não se preocupe!</h1>

<form action="/auth/reset_password/<%=token%>" method="post">

  <div class="form__content">
    <label class="form__content--label"> Email </label>
    <input class="input input__color" type="email" name="email" required autocomplete="off" />
  </div>

  <div class="form__content">
    <label class="form__content--label">Nova Senha </label>
    <input class="input input__color" type="password" name="password" required autocomplete="off" />
  </div>

  <button class="button-login button-block" />Alterar</button>
</form>