*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}


body {
  font-family: 'Lato';
  font-size: .8em;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}
