.form__content--label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  margin-left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
}

.form__content--label .req {
  margin: 2px;
  color: #1ab188;
}

.form__content--label.active {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  left: 2px;
  font-size: 14px;
}
.form__content--label.active .req {
  opacity: 0;
}

.input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}

.input:focus {
  outline: 0;
  border-color: #2196f3;
}