a {
  color: #FFFFFF;
  font-size: 1.5em;
  transition: .5s ease;
}

a:hover {
  color: #2196F3;
}

.form {
  width: 40em;
  margin: 15px;
  padding: 15px;
}

.form__content {
  position: relative;
  margin-bottom: 40px;
}

h1 {
  font-size: 2em;
  margin: 0px 0px 20px 30px;
}

p {
  font-size: 1.30em;
  margin-left: 20px;
}

.form__content--label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  margin: 2px 13px;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 1.2em;
}

.form__content--label .req {
  margin: 2px;
  color: #1ab188;
}

.form__content--label.active {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  left: 2px;
  font-size: 14px;
  font-weight: 600;
}
.form__content--label.active .req {
  opacity: 0;
}

input, textarea {
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #a0b3b0;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #2196f3;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}


.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button-login {
  border: 0;
  outline: none;
  border-radius: 15px;
  padding: 15px 0;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #2196F3;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button-login :hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

@media (max-width: 765px) {
  label {
    left: 0;
  }
}