.info {
  height: 70vh;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
}

.project__list {
	display: flex;
}

.project__list--content {
	margin: 20px;
	display: block;
}